/* navigation manu start  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: rgba(252, 252, 252, 1);
    --black:rgba(24, 24, 27, 1);
    --grey:rgba(24, 24, 27, 1);
    --font:52px;
    
  }
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Space+Grotesk:wght@300..700&display=swap');
  body{
    width:90rem;
    margin: 0 auto;
    font-family: "Roboto Flex", sans-serif;;
  }

.logo {
    width: 23.9px;
    height: 24px;
}
.comfea {
   font-weight: 900;
   font-size: 20px;
   line-height: 27px;
   color: var(--black);
}
.union-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.connect-us ul li {
    list-style: none;
}
.connect-us ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.25rem 0.625rem;
}
.connect-us ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20.75rem;
    padding: 1.188rem 5rem;
    width: 90rem;
    height: 5.1875rem;
    z-index: 1;
}
.btn1 a {
  text-decoration: none;
  color:var(--white);
  font-weight: 500;
  font-size: 1rem;
}
.btn1  {
    padding: 0.625rem 1.125rem;
    border: none;
    border-radius:0.625rem;
    background-color: var(--black);
}

/* navigation manu end */


/* section container start  */
.section-container {
    padding: 5rem 5rem;
    margin: 0 auto;
}
.input {
    width:80rem;
    padding: 1rem 2.5rem;
    border: 0.0625rem solid var(--black);
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
    
}
.input-field {
    margin-top: 1.5rem;
}
.search {
   position: relative;
   left: 0.625rem;
   top:2.5rem;
   z-index: 1;
}
.hero-frame {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 13.43rem;
}
.hero-content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.hero-frame h3 {
    width:30.07rem ;
    height: 7.75rem;
    font-size: 3.25rem;
    font-weight: 400;
    line-height:3.9rem;
    letter-spacing: -0.02em;
}
.hero-frame p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.8rem;
    width: 32.5rem;
    height: 5.375rem;
}
.blog-post-card {
    width: 54.81rem;
    height: 26.75rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}
.blog-content {
    width: 28.3125rem;
    height: 22.125rem;
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 22.6875rem;
    height: 26.75rem;
}
.quick-block, .detail {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 0.5rem;
}
.quick-block {
    gap: 1rem;
}
.reading-time {
    display: flex;
    gap: 0.5rem;
}
.clock-part {
    display: flex;
    gap: 1rem;
}
.blog-date p, .time-2 p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.55rem;
}
.Article-description h5{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
}
.Article-description p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.7437rem; 
}
.blog-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* .hading, .detail {
    margin-top: 0.5rem;
} */
.hading p{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.9rem;  
}
.properties-content {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 13.4375rem;
    height: 7.4375rem;
}
.blog-date-1 p, .detail-2 {
    font-size:0.75rem;
    font-weight: 500;
    line-height: 1.1625rem;    
}

/* section container end */

/* main content part start  */
.main-content{
    width:80rem;
    height:141.0625rem;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.support-text {
   width: 80rem; 
   height: 8.375rem;
}
.support-text h3{
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 3.9rem; 
}
.support-text p{
    font-size:1.125rem;
    font-weight: 400;
    line-height:1.7437rem; 
    width: 43.6875rem;  
    margin-top: 1rem;
}
.Article-content-card {
    width: 25.625rem;
    height: 11.9375rem;
    overflow: hidden;
}
.first-date {
    display: flex;
    gap: 1rem;
}
.date-5 {
    display: flex;
    gap: 0.25rem;
}
.clock-5 p, .date-4 p {
    font-size: 1rem;
    font-weight: 500;
    line-height:1.55rem;
}
.Article-content-card {
    margin-top: 1rem;
}
.first-date-one h6{
    font-size: 1.5rem;
    font-weight: 500;
    line-height:1.8rem;
    margin-top: 1rem;
}
.first-date-one p {
    font-size: 0.96rem;
    font-weight: 400;
    line-height: 1.5625rem; 
    margin-top: 0.75rem; 
    text-align: left;
}
.property-card-card{
    margin-top: -6.9375rem;
}
/* main content part end */


/* contect section start  */
.contect-section {
  height: 36.125rem;
  padding: 2.5rem 1rem;
  position: relative;

}

.contect-form img {
  width: 88rem;
  height: 31.125rem;
  border-radius: 2.25rem;
  
}
.contect-headiline {
    width: 49.5rem;
    height: 15rem;
    position: absolute;
    top: 6.5625rem;
    left: 19.25rem;
    text-align: center;
    color: var(--white);
  
}
.subscribe-input-field {
    position: relative;
}
.contect-headiline h2 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.8rem;        
}
.contect-headiline  p{
    font-size:1.25rem;
    font-weight: 400;
    line-height:1.9375rem;
    margin-top: 1.5rem;
}
.last-input {
    width:31.5rem ;
    height:3.625rem ;
    border-radius: 0.75rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.subscribe-input-field {
    position: absolute;
    top: 25rem;
    left: 28.25rem;
}
.last-input {
    position: relative;
    border: none;
    outline: none;
}
.sub-btn a {
    padding: 0.625rem 1rem;
    background-color: var(--black);
    border-radius: 0.75rem;
    color: var(--white);
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;   
}
/* contect section end */


.footer-section-part {
    width: 1440px;
    height: 510px;
    margin-top: 40px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.footer-main-container {
    width: 1328px;
    height: 230px;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.agency h6 {
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
}
.information-part  {
    display: flex;
    align-items: center;
    gap: 24px;
}
.general-enquries p {
    font-style: 14px;
}
.left-footer {
    width: 620px;
    height: 167px;
    color: var(--white);
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-top: 80px;
}
.main-footer-contect, .footer-left-nav {
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 24.8px;
}
.footer-home-left ul, .follow-us ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.follow-us ul li, .footer-home-left ul li {
    list-style: none;
}
.follow-us ul li a, .footer-home-left ul li a, .footer-contect-nav a{
    text-decoration: none;
    color: var(--white);
}
.follow-us {
    width: 326px;
    height: 230px;
    margin-right: -250px;
}
.footer-contect-nav  p{
    margin: 12.5rem 0 1rem 0;
}
.copyright {
    width: 1328px;
    height: 80px;
    margin: 5rem auto;
    display: flex;
    padding: 1rem 0rem;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgb(116, 118, 119);
}
.backup p, .last-para p, .last-footer-logo p{
  color: var(--white);
}
.last-footer-logo, .back-to-up {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3px;
}
/* footer content content area end */
/* main content end */

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 80px;
}

