@media (max-width: 375px){
    body{
        margin: 0;
      }
    /* navigation manu start  */
    .navigation-menu{
        width: 375px;
        padding: 19px 20px;
    }

    .drop-down-icon {
        display: block;
        position: absolute;
        right: 20px;
    }

    .connect-us, .contect {
        display: none;
    }

    .hero-img img {
        width: 375px;
        height: 630px;
    }
    /* navigation manu end */



   /* hero section part start  */
   .discover-section{
    flex-direction: column;
   }
   .discover-right{
    display: none;
   }
   .discover p, .discover b {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
   }


   .discover-left{
    position: relative;
    top: -150px; 
    width: 335px;
    height: 232px;
    margin: 0px 0px 0px 20px;
    flex-direction: column;
    gap: 0;
    }

    .icon {
        position: absolute;
        bottom: -25px;
        left: 110px;
    }

    .discover-left {
        flex-direction: column;
    }
   /* hero section part end */

   /* start main content container part  */
   .main-content-container {
    width: 375px;
    padding: 60px 20px;
    }
.left-commitment {
   width:335px;
   height: 183px;
}
.real-estate h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
}
.right-commitment {
    width: 335px;
    
}
.real-estate-section{
    margin: 0;
}
.my-commit {
    width: 335px;
    height: auto;
    gap: 24px;
    flex-direction: column;
    margin: 0;
}
.property-one img {
    width: 335px;
    height: 335px;
}
.main-property-one, .main-property, .main-property-two {
    text-align: center;
}
.main-property-one {
    margin: 0px;
}
.property {
    width: 335px;
    height: auto;
    gap: 2rem;
    flex-direction: column;
    margin: 0;
}
   /* end main content container part  */


   /* property list start  */
.property-list {
    width: 335px;
    height: 187px;
    flex-direction: column;
    margin: 0;
}
.left-property-list {
    width: 335px;
    height: auto;
}
.right-property-list {
    width: 335px;
    height: auto;
}
.left-property-list h3 {
    font-weight:400;
    font-size: 32px; 
}
   /* property list end */

   /* house rent part start  */
.asari-parmata{
    width: 335px;
    height: auto;
}
.saler-container img{
    width: 335px;
    height: 335px;
}
.btn-3 img{
    width: 20px;
    height: 20px;
}
.house {
    width: 335px;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}
hr {
    margin: 0;
}
.mobile_block {
    display: none;
}
.finish_line {
    margin-top: 10px;
}
.expand_wrapper {
    margin-top: 24px;
}
.main_revove_price {
    display: none;
}
.location-para {
    gap: 2px;
} 
.commom-room {
    display: flex;
    flex-direction: column;
} 
   /* house rent part end */

/* frequent question part start */
.frequient {
    width: 335px;
    height: auto;
    margin: 70px 0px 0px 0px;
    flex-direction: column;
}
.faq-property {
    width: 335px;
    height: auto;
}
.faq-images img {
    display: none;
}
.left-frequent-question {
    width: 335px;
    height: auto;
}
.right-frequent-question {
    width: 335px;
    height: auto;
}
.selling {
    width: 335px;
    height: 254px;
    padding: 16px;
    gap: 16px;
}

.service {
    width: 275px;
    height: 56px;
}
/* frequent question part end */


/* real state part start  */
.estate-laft h3 {
    display: none;
}
.estate-laft h6{
    display: block;
    font-size: 32px;
    font-weight: 400;
}
.estate-laft {
    width: 335px;
    height: 162px;
    flex-direction: column;
}
.real-estate-section{
    width: 335px;
    height: auto;
    gap: 0px;
    flex-direction: column;
}
.estate-right {
    width: 335px;
    height: 100px;
    margin-top: -100px;
    /* gap: -100px; */
 }
 .kitchen-img img{
    width: 104px;
    height: 119px;
 }
 .kitchen-part{
    width: 335px;
    height: auto;
    flex-direction: column;
    margin: 0;
} 
.design-idea {
    display: none;
}
.middle-time-idea {
    display: block;
    width: 100%;
    height: 60px;
    overflow: hidden;
    /* background-color: gray; */
 }
.middle-time-idea p{
    font-size: 24px;
    width: 215px;
    height: 64px;

 }
 .view {
    margin:0;
}
 .bedroom-decor {
    display: none;
 }
 .clock {
    width: 335px;
    height: auto;
    gap: 4px;
    flex-direction: column;
}
.kitchen {
    width: 100%;
    height: auto;
    text-align: left;
    gap: 16px;
}
.living-room{
    width: 100%;
    height: auto;
    text-align: left;
    gap: 16px;
}
.kitchen, .living-room {
    display: flex;

}
.kitchen-para {
    width: 215px;
    height: auto;
    text-align: left;
}
.date  {
    width: 100%;
}
.reading-time {
    width: 100%;
}
/* real state part start  */


/* circle arrow part start  */
.D_hideable_part {
    display: block;
    display: flex;
    gap: 8px;
}
.main-circle {
    display: none;
}
.circle {
    width: 335px;
    height: auto;
    display: flex;
    gap: 91.5px;
    margin: 0;
}

/* circle arrow part end */

/* main form part start  */
.form-opacity img{
    width: 343px; 
    height: 800px;
}
.find-out {
    flex-direction: column;
    width: 335px;
    height: auto;
}
.comfort-form{
    width: 303px;
    height: auto;
    margin: -300px 0px 0px -30px;
    
}
.comfort-form h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    /* width: 303px;
    height: auto; */
}
.comfort-form p{
    font-size: 16px;
    line-height: 24.5px;
}
.form {
    width: 303px;
    height: 412px;
}
.info-form{
    width: 303px;
    left: 20px;
    top: -470px;
}
.common-input input{
    width: 200px;
    height: 25px; 
}
textarea{
    width: 100%;
    padding: 12px 14px;
}
.send-msg {
    padding: 0.625rem 6.9rem;
    background-color: var(--black);
    margin-top: 1rem;
    border-radius:0.75rem;
}
/* main form part end */

/* footer section part start */
.footer-section-part {
    width: 375px;
    height: auto;
    margin-top: -375px;
    padding: 56px 20px 40px;
}

.footer-main-container {
    width: 335px;
    height: auto;
    margin: -94px 0px 0px 0px;
    flex-direction: column;
}
.left-footer {
    width: 100%;
}
.right-footer {
    width: 100%;
}
.information-part {
    width: 100%;
    flex-wrap: wrap;
}
.copyright {
    width: 335px;
    gap: 24px;
    margin: -70px 0px 0px 0px;
    flex-direction: column;
}
.footer-contect-nav {
    width: 335px;
    height: 100px;
}
.right-footer{
    width: 335px;
    height: 279px;
   
}
.footer-left-nav{
    gap:50px;
    flex-direction: column;
    line-height: 0;
}
.follow-us{
    width: 335px;
    
}
.follow-us ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
   width: 335px;
   height: auto;
}
.footer-contect-nav p {
    padding: 0px 0px 24px 0px;
    
}
.footer-nav {
    width: 100%;
    height: auto;
}
.footer-contect-nav  p{
    margin:  0;
}
/* footer section part end */





}