*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: rgba(252, 252, 252, 1);
    --black:rgba(24, 24, 27, 1);
    --grey:rgba(24, 24, 27, 1);
    --grey1:#51525C;
    
  }
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Space+Grotesk:wght@300..700&display=swap');
  body{
    /* width: 90rem;
    margin: 0 auto; */
    font-family: "Roboto Flex", sans-serif;
    
  }
/* navigation manu start  */
.header {
    width: 1440px;
    margin: 0 auto;
}
.logo {
    width:1.4937rem;
    height: 1.5rem;
}
.comfea {
   font-weight: 900;
   font-size: 1.25rem;
   line-height: 1.6875rem;
   color: var(--white);
}
.union-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.connect-us ul li {
    list-style: none;
}
.connect-us ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.25rem 0.625rem;
}
.connect-us ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20.75rem;
    padding: 1.188rem 5rem;
    width: 90rem;
    margin: 0 auto;
    position: absolute;
    z-index: 1;  
}
.btn1 a {
  text-decoration: none;
  color:var(--black);
  font-weight: 500;
  font-size: 1rem;
}
.btn1  {
    padding: 0.625rem 1.125rem;
    border: none;
    border-radius:0.625rem;
}
.drop-down-icon {
    display: none;
}
/* navigation manu end */

/* hero section start  */
.discover-section{
    position: absolute;
    top: 31.25rem;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 6.25rem;
    margin-top:1.5625rem;
}
.hero-section {
    width: 1440px;
    margin: 0 auto;
}
.hero-img-crop {
    display: none;
}
.discover{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.discover b {
    font-size: 6.5rem;
    font-weight: 700;
    color: var(--white);
}
.discover p {
    font-size: 6.5rem;
    font-weight: 400;
    color: var(--white);
}
.discover-left {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -6.25rem;
    margin-left: 5rem;
    width: 61.875rem;
}
.discover-right{
    margin-right: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
    background-color: aliceblue;
    border-radius:0.625rem;
    width: 13.25rem;
    height: 28.75rem;
}
.same-gallery img{
   padding: 0px 0.75rem;
}
.hero-img img {
    width: 100%;
    height: 64rem;
    opacity: 0.4 var(--black);
}

.icon {
    color: var(--white);
    background-color: var(--grey1);
    width: 64px;
    height:64px;
    position: absolute;
    right: 1.9rem;
    bottom: 1.4rem;
    border-radius: 50%;
    border: 1px solid var(--white);
}
.icon i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* hero section end */

/* main content start  */
.main-content-container {
    width: 100%;
    /* height: 6400px; */
}
.my-commit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.8125rem;
    width: 80rem;
    height:21.3125rem;
    margin: 5rem auto;
}
.real-estate h3 {
    font-weight: 400;
    font-size: 3.25rem;
}
.btn-2 {
    padding: 0.625rem 1.40625rem;
    margin-top: 2rem;
    border-radius: 0.625rem;
    border: none;
    background-color: var(--black);
    width: 8rem;
}
.btn-2 a{
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    font-weight:500 ;
}
.para-one {
    font-size:1.25rem;
    font-weight: 400;
}
.left-commitment {
    width: 30.8125rem;
    margin-top: -3.125rem;
}
.right-commitment {
    width:41.375rem;
    
}
.principles {
    margin-top: 1.1875rem;
}


/* property section start  */
.property {
    width:80rem;
    height: 39.125rem;
    display: flex;
    gap: 2rem;
    margin: 3.5rem auto;
}
.expert h6{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.5rem;
}
.expert p {
    font-weight: 400;
    font-size: 1rem;
    margin-top:0.5rem;
    line-height: 1.55rem;
}
.main-property-one {
    margin-top: 10.5625rem;
}
/* property section end */
/* property list start  */
.property-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem auto;
    height: 5.8125rem;
    width: 80rem;
}
.left-property-list {
    width: 31.25rem;
}
.left-property-list h3 {
    font-weight:400;
    font-size: 3.25rem; 
}

.right-property-list {
    width: 35.8125rem;
}
.right-property-list p{
    font-weight: 400;
    font-size:1.25rem;
}
/* property list end */

.asari-parmata{
    position:relative;
    height: 31.25rem;
    width: 25rem;
    margin-top: -3.125rem;
}
.button-wrapper {
    position: absolute;
    top: 1rem;
    right: 0.4375rem;
}
.btn-3{
    padding: 0.5rem 0.75rem;
    background-color: var(--black);
    border-radius: 0.625rem;
    border: none;
}
.btn-3 a {
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight:500;
    color: var(--white);
}
.btn-3 img {
    height: 1.25rem;
    width: 1.25rem;
}
.for-sale {
    position: relative;
    top: -0.3125rem;
    padding: 0.5625rem 0.75rem;
}
.permata {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12.5rem;
}
.house {
    width: 80rem;
    /* height: 1449px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.icon-para {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.3125rem;
}
.bedroom-wrapper, .commom-room  {
   display: flex;
   align-items: center;
}
.bedroom-wrapper {
    gap: 2.3125rem;
}
hr {
    margin: 1rem 0;
}
.commom-room {
    gap: 0.3437rem;
    font-size: 16px;
    font-weight: 400;
}
.location-para h6 {
    font-size: 1.5rem;
    font-weight: 500;
}
.location-para p {
    font-size: 0.875rem;
    font-weight: 500;
}
.location-para {
    display: flex;
    align-items: center;
}
.location h6{
   font-weight: 500;
   font-size: 1.5rem;
}
.price p {
    font-size: 1.25rem;
    font-weight: 700;
}
.view {
    margin:3.5rem  auto;
}
.view a{
    text-decoration: none;
    padding: 0.625rem 1.5937rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.75rem;
    
}

/* frequent question part start  */
.frequient {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80rem;
    height: 42.6875rem;
    margin:10rem auto;
    gap: 3.5rem;
}
.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.75rem;
    font-size: 1.125rem;
    /* margin-top: 16px; */
}
.faq-property h3 {
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 3.9rem;
    letter-spacing: -0.02em;
}
.faq-property p {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 1.5rem;
}
.faq-images img {
    margin-top: 3.5rem;
}
.left-frequent-question {
    width: 33.25rem;
}
.right-frequent-question {
    width:43.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.estate-laft h6 {
    display: none;
}
.selling {
    background-color: rgba(250, 250, 250, 1) ;
    border-radius: 0.8125rem;
    padding: 1rem;
    margin-top: 1rem;
    height: 9.4375rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.market-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sell-property p {
    font-size:1.125rem;
    font-weight: 700;
}
/* frequent question part end */


/* real estate part start */
.estate-laft{
    width: 50%;
}
.estate-laft h3{
   font-size:3.25rem;
   font-weight: 400;
   line-height: 3.9rem;
   letter-spacing: -0.02em;
   text-align: left;
}
.estate-right{
    width:34.375rem;
}
.estate-right p{
   font-size: 1.125rem;
   font-weight: 400;
   line-height: 1.7437rem;
   text-align: left;
}
.real-estate-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10.5rem;
    width: 80rem;
    margin: 0 auto;
}
/* real estate part end */

/* kitchen part start  */
.clock {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top:1rem;
}
.date p {
    font-weight: 500;
}
.reading-time p{
    font-weight: 500;
}
.design-idea {
    margin-top: 1rem;
}
.design-idea p {
    font-size: 1.5rem;
    font-weight: 500;
    
}
.kitchen-para {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.reading-time  {
    display: flex;
}
.kitchen-part{
    width: 80rem;
    margin: 3.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.middle-time-idea {
    display: none;
 }
.kitchen{
    width: 25.625rem;
}
.black-div {
    width: 0.75rem;
    height:0.75rem;
    background-color: var(--black);
    border-radius: 50%;
}
.black-div-1, .black-div-2 {
    border: 0.0625rem solid var(--black);
    width: 0.75rem;
    height:0.75rem;
    border-radius: 50%;
}

.circle {
    width: 80rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-circle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.arrow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top:1.5rem;
}
/* kitchen part end */

/* form part start  */
.comfortable-form {
    width: 90rem;
    margin: 2.5rem auto;
}
.find-out {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* background-color: black; */
}
.form-opacity img{
    width: 1409px;
    height: 648px;
    border-radius: 36px;
    opacity: 0.7  rgba(0, 0, 0, 0.42);
    position:relative;  
}
.comfort-form{
    color: var(--white);
    position: absolute;
    top: -31.25rem;
    left: 3.5rem;
    width: 39rem;
    height:15rem;
}
.comfort-form h2{
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.8rem;
}
.comfort-form p{
    font-weight: 400;
    font-size: 1.25rem;
    line-height:1.9375rem;
    margin-top: 1.5rem;
}
.info-form{
    width: 27.75rem;
    height: 26.75rem;
    padding: 0rem 1.5rem;
    position: absolute;
    right: 6.25rem;
    top: -33.75rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    margin-bottom: 0px;
}
.info-form input {
    width:18.5rem;
    height: 1.5625rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    background-color: var(--white);
}
textarea{
    margin-top: 1rem;
    width: 24.75rem;
    height: 12.75rem;
    border: 1px solid var(--grey);
    outline: none;
    background-color: var(--white);
}
.send-msg {
    padding: 0.625rem 11.2187rem;
    background-color: var(--black);
    margin-top: 1rem;
    border-radius:0.75rem;
}
.D_hideable_part{
    display: none;
}
.send-msg a{
    color: var(--white);
    text-decoration: none;
    font-size:1rem;
    font-weight: 500;
}
/* form part end */


/* footer content content area start  */
.footer-section-part {
    width: 90rem;
    height: 31.875rem;
    margin: 2.5rem auto;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.footer-main-container {
    width: 83rem;
    height: 14.375rem;
    display: flex;
    gap: 9.375rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.agency h6 {
    font-size: 2rem;
    font-weight: 400;
    line-height:2.4rem;
}
.information-part  {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.general-enquries p {
    font-style: 0.875rem;
}
.left-footer {
    width:38.75rem;
    height: 10.4375rem;
    color: var(--white);
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    margin-top: 5rem;
}
.main-footer-contect, .footer-left-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--white);
    font-size:1rem;
    font-weight: 400;
    line-height: 1.55rem;
}
.footer-home-left ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.follow-us ul li {
    margin-bottom: 1rem;
}
.follow-us ul li, .footer-home-left ul li {
    list-style: none;
}
.follow-us ul li a, .footer-home-left ul li a, .footer-contect-nav a{
    text-decoration: none;
    color: var(--white);
}
.follow-us {
    width:20.375rem;
    height: 14.375rem;
    margin-right: -15.625rem;
}
.footer-contect-nav  p{
    margin: 12.5rem 0 1rem 0;
}
.copyright {
    width: 83rem;
    height: 5rem;
    margin: 5rem auto;
    display: flex;
    padding: 1rem 0rem;
    align-items: center;
    justify-content: space-between;
    border-top: 0.0625rem solid rgb(116, 118, 119);
}
.backup p, .last-para p, .last-footer-logo p{
  color: var(--white);
}
.last-footer-logo, .back-to-up {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.1875rem;
}
/* footer content content area end */
/* main content end */

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}
